<!-- src/app/components/table-list/table-list.component.html -->
<div class="container mt-4">
  <h2>Taşınmaz Listesi</h2>
  <div *ngIf="tasinmazlar.length > 0; else noData">

   
    <table class="table table-striped table-info">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Ada</th>
          <th scope="col">Parsel</th>
          <th scope="col">Nitelik</th>
          <th scope="col">Koordinat Bilgileri</th>
          <th scope="col">Mahalle ID</th>
          <th scope="col">Mahalle</th>
          <th scope="col">İlçe</th>
          <th scope="col">İl</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tasinmaz of tasinmazlar">
          <td>{{ tasinmaz.id }}</td>
          <td>{{ tasinmaz.ada }}</td>
          <td>{{ tasinmaz.parsel }}</td>
          <td>{{ tasinmaz.nitelik }}</td>
          <td>{{ tasinmaz.koordinatBilgileri }}</td>
          <td>{{ tasinmaz.mahalleId }}</td>
          <td>{{ tasinmaz.mahalle.name }}</td>
          <td>{{ tasinmaz.mahalle.ilce.name }}</td>
          <td>{{ tasinmaz.mahalle.ilce.il.name }}</td>
        </tr>
      </tbody>
      
    </table>
    
  </div>

  <ng-template #noData>
    <p>Veri bulunamadı.</p>
  </ng-template>

  <div class="btn">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTasinmazModal">
      Yeni Taşınmaz Ekle</button>
    <button class="btn2 btn-danger" (click)="openAddModal()">Taşınmaz Sil</button>
    <button class="btn3 btn-warning" (click)="openAddModal()">Taşınmaz Düzenle</button>
  </div>
  
</div>
<app-add></app-add>