<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

<div class="d-flex">
  <!-- Sidebar -->
  <div id="sidebar" class="bg  p-3" style="min-width: 250px; height: 100vh; position: fixed; color: rgb(9, 87, 133); font-family:'Quicksand'; ">
    <div class="container"><h3 class="text-center" >{{ currentTitle }}</h3></div>
    <ul class="nav flex-column">
      <li class="nav-item" *ngIf="authService.isAdmin()">
        <a class="nav-link " routerLink="/log">Log İşlemleri</a>
      </li>
      <li class="nav-item" *ngIf="authService.isAdmin()">
        <a class="nav-link " routerLink="/kullanici">Kullanıcı İşlemleri</a>
      </li>
      <li class="nav-item" *ngIf="authService.loggedIn()">
        <a class="nav-link " routerLink="/table-list">Mevcut Taşınmaz Listesi</a>
      </li>
      <li class="nav-item" *ngIf="authService.loggedIn()">
        <a class="nav-link " (click)="confirmLogout()">Çıkış</a>
      </li>
    </ul>
  </div>

  <!-- Content -->
  <div class="flex-grow-1 p-3" style="margin-left: 250px;">
    <router-outlet></router-outlet>
  </div>
</div>
