<!-- add.component.html -->
<div class="modal fade" id="addTasinmazModal" tabindex="-1" aria-labelledby="addTasinmazModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     
      <div class="modal-body">
        <form [formGroup]="tasinmazForm" (ngSubmit)="add()">
          <div class="form-group">
            <label for="il">İl</label>
            <select id="il" formControlName="il" (change)="onIlChange($event.target.value)">
              <option *ngFor="let il of iller" [value]="il.id">{{ il.name }}</option>
            </select>
          </div>
        
          <div class="form-group">
            <label for="ilce">İlçe</label>
            <select id="ilce" formControlName="ilce" (change)="onIlceChange($event.target.value)">
              <option *ngFor="let ilce of ilceler" [value]="ilce.id">{{ ilce.name }}</option>
            </select>
          </div>
        
          <div class="form-group">
            <label for="mahalleId">Mahalle</label>
            <select id="mahalleId" formControlName="mahalleId">
              <option *ngFor="let mahalle of mahalleler" [value]="mahalle.id">{{ mahalle.name }}</option>
            </select>
          </div>
        
          <div class="form-group">
            <label for="ada">Ada</label>
            <input type="text" id="ada" formControlName="ada" class="form-control" />
          </div>
        
          <div class="form-group">
            <label for="parsel">Parsel</label>
            <input type="text" id="parsel" formControlName="parsel" class="form-control" />
          </div>
        
          <div class="form-group">
            <label for="nitelik">Nitelik</label>
            <input type="text" id="nitelik" formControlName="nitelik" class="form-control" />
          </div>
        
          <div class="form-group">
            <label for="koordinatBilgileri">Koordinat Bilgileri</label>
            <input type="text" id="koordinatBilgileri" formControlName="koordinatBilgileri" class="form-control" />
          </div>
        
          <div class="form-group">
            <label for="adres">Adres</label>
            <input type="text" id="adres" formControlName="adres" class="form-control" />
          </div>

          <button type="submit" class="btn btn-primary">Ekle</button>
        </form>
        
      </div>
      <div class="btn1 modal-header">
        <button type="button" class=" btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
