<app-navbar></app-navbar>

<div class="video-background">
  <video autoplay muted loop id="backgroundVideo">
    <source src="../../../assets/odak.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
</div>

<div class="giris">
  <div class="container" id="container">
    <div class="form-container sign-in">
      <form  #loginForm="ngForm" (ngSubmit)="login()">
        <h1>TaşınmazApp</h1>
        <br><br>
        <h2>Giriş Yap</h2>
        
        <input  name="email"  [(ngModel)]="loginUser.email" required type="text" placeholder="Email">
        <input name="password"  [(ngModel)]="loginUser.password" required type="password"  placeholder="Şifre">
        <button type="submit" [disabled]="!loginForm.valid" id="login">Giriş Yap</button>
       

      </form>
    </div>
  
    <div class="form-container sign-up">
      <form>
        <h1>Odak GIS Hakkında</h1>
        <p>
          OdakGIS; yazılım geliştirme ve coğrafi bilgi sistemleri üzerinde 1990’lı yılların başından beri süregelen
          teknolojiler ile çalışmış, bilinen ve gerçek hayatta kullanılan birçok gerçek otomasyon sistemine imza atmış,
          haritacılık ve CBS sektöründe yüzlerce insan kaynağının yetişmesine yardımcı olmuş tecrübeli bir ekip
          tarafından 2009 yılında kurulmuştur.
        </p>
        <a href="https://odakgis.com.tr">OdakGIS sayfasına gitmek için</a>
      </form>
    </div>
  
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>TaşınmazApp</h1>
          <p>Taşınmazlarınızı yönetmek artık çok kolay!</p>
          <button class="hidden" id="login">TaşınmazApp Giriş</button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1>OdakGIS</h1>
          <p>Biz kimiz?</p>
          <button class="register" id="register">İncele</button>
        </div>
      </div>
    </div>
  </div>
</div>
